@charset "UTF-8";

body{
    position:relative;
}
header{
    background:$color-nav;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:99px;
    line-height:99px;
    font-size:$font-size-base;
    position:absolute;
    top:0;
    left:0;
    z-index:22;
    nav{
        height:99px;
    }
    ul>li{
        float:left;
        a{
            color:$color-white;
        }
        a:hover{
            color:$color-primary;
        }
    }
    li.active{
        a{
            color:$color-primary;
        }
    }
    li+li{
        margin-left:$font-size-base*2;
    }
}
